.about {

  height: 400px;
  :first-child {
    width: 100%;
    font-size: 2rem;
    display: block;
    text-align: center;
    margin-top: 5%;
    background-color: black;
    color: white;
  }
  :last-child{
    display: block;
    width: 100%;
    height: 100%;
    #imgAbout {
      background-image: url("../images/photo1.jpeg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      float: left;
      width: 30%;
      height: 50%;
      padding-top: 25%;
    }
    #textAbout {
      padding-top: 6%;
      float: left;
      width: 70%;
      height: 100%;
      padding-left: 10%;
      font-size: 1.2rem;
    }
  }

}
